<!DOCTYPE html>
<html>
<head>
    <title>Feedbacks</title>
    <!-- Aqui você pode adicionar seus meta tags, links para folhas de estilo, scripts etc. -->
</head>
<body>
    <header>
        <partial name= "./_MainMenuPartialPage.cshtml"  />
    </header>

    <main>
        <!-- O conteúdo das páginas será renderizado aqui -->
        @RenderBody()
    </main>

    <footer>
        
    </footer>
</body>
</html>